body {
    background: #efd5f6;
}
h1, div {
    text-align: center;
}
h1 {
    color: #3d2645;
    font-size: 70px;
    margin-bottom: 0px;
}
img {
    margin-top: 50px;
    background: #f6ffe9;
    border-radius: 50%;
}
